<section class="cta-area bg-img bg-overlay" style="background-image: url(img/bg-img/bg4.jpg);">
    <Container Class="h-100">
        <Row Class="h-100 align-items-center">
            <Column ColumnSize="ColumnSize.Is12">
                <div class="cta-content text-center">
                    <Heading Size="HeadingSize.Is2">Cheat Day</Heading>
                    <p>Fusce nec ante vitae lacus aliquet vulputate. Donec scelerisque accumsan molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras sed accumsan neque. Ut vulputate, lectus vel aliquam congue, risus leo elementum nibh</p>
                    <Blazorise.Link To="/" Class="btn delicious-btn">Click to cheat</Blazorise.Link>
                </div>
            </Column>
        </Row>
    </Container>
</section>