<section class="small-receipe-area section-padding-80-0">
    <Container>
        <Row>
            <Column ColumnSize="ColumnSize.Is6.OnMobile.Is4.OnDesktop.Is12">
                <div class="single-small-receipe-area d-flex">
                    <div class="receipe-thumb">
                        <Image Source="img/bg-img/sr1.jpg" alt="" loading="lazy" />
                    </div>
                    <div class="receipe-content">
                        <Blazorise.Link To="/">
                            <Heading Size="HeadingSize.Is5">Homemade pasta</Heading>
                        </Blazorise.Link>
                        <Ratings />
                    </div>
                </div>
            </Column>
            <Column ColumnSize="ColumnSize.Is6.OnMobile.Is4.OnDesktop.Is12">
                <div class="single-small-receipe-area d-flex">
                    <div class="receipe-thumb">
                        <Image Source="img/bg-img/sr2.jpg" alt="" loading="lazy" />
                    </div>
                    <div class="receipe-content">
                        <Blazorise.Link To="/">
                            <Heading Size="HeadingSize.Is5">Panettone</Heading>
                        </Blazorise.Link>
                        <Ratings />
                    </div>
                </div>
            </Column>
            <Column ColumnSize="ColumnSize.Is6.OnMobile.Is4.OnDesktop.Is12">
                <div class="single-small-receipe-area d-flex">
                    <div class="receipe-thumb">
                        <Image Source="img/bg-img/sr3.jpg" alt="" loading="lazy" />
                    </div>
                    <div class="receipe-content">
                        <Blazorise.Link To="/">
                            <Heading Size="HeadingSize.Is5">Scallops en sal</Heading>
                        </Blazorise.Link>
                        <Ratings />
                    </div>
                </div>
            </Column>
            <Column ColumnSize="ColumnSize.Is6.OnMobile.Is4.OnDesktop.Is12">
                <div class="single-small-receipe-area d-flex">
                    <div class="receipe-thumb">
                        <Image Source="img/bg-img/sr4.jpg" alt="" loading="lazy" />
                    </div>
                    <div class="receipe-content">
                        <Blazorise.Link To="/">
                            <Heading Size="HeadingSize.Is5">Summertime Meringue</Heading>
                        </Blazorise.Link>
                        <Ratings />
                    </div>
                </div>
            </Column>
            <Column ColumnSize="ColumnSize.Is6.OnMobile.Is4.OnDesktop.Is12">
                <div class="single-small-receipe-area d-flex">
                    <div class="receipe-thumb">
                        <Image Source="img/bg-img/sr5.jpg" alt="" loading="lazy" />
                    </div>
                    <div class="receipe-content">
                        <Blazorise.Link To="/">
                            <Heading Size="HeadingSize.Is5">Macarons</Heading>
                        </Blazorise.Link>
                        <Ratings />
                    </div>
                </div>
            </Column>
            <Column ColumnSize="ColumnSize.Is6.OnMobile.Is4.OnDesktop.Is12">
                <div class="single-small-receipe-area d-flex">
                    <div class="receipe-thumb">
                        <Image Source="img/bg-img/sr6.jpg" alt="" loading="lazy" />
                    </div>
                    <div class="receipe-content">
                        <Blazorise.Link To="/">
                            <Heading Size="HeadingSize.Is5">White Chocolate Mousse</Heading>
                        </Blazorise.Link>
                        <Ratings />
                    </div>
                </div>
            </Column>
        </Row>
    </Container>
</section>