<section class="best-receipe-area">
    <Container>
        <Row>
            <Column ColumnSize="ColumnSize.Is12">
                <div class="section-heading">
                    <Heading Size="HeadingSize.Is3">Featured Recipes</Heading>
                </div>
            </Column>
        </Row>

        <Row>
            <Column ColumnSize="ColumnSize.Is6.OnMobile.Is4.OnTablet.Is12">
                <div class="single-best-receipe-area mb-30">
                    <Image Source="img/bg-img/r1.jpg" />
                    <div class="receipe-content">
                        <Blazorise.Link To="/">
                            <Heading Size="HeadingSize.Is5">
                                Frutti di Mare
                            </Heading>
                        </Blazorise.Link>
                        <Ratings />
                    </div>
                </div>
            </Column>

            <Column ColumnSize="ColumnSize.Is6.OnMobile.Is4.OnTablet.Is12">
                <div class="single-best-receipe-area mb-30">
                    <Image Source="img/bg-img/r2.jpg" />
                    <div class="receipe-content">
                        <Blazorise.Link To="/">
                            <Heading Size="HeadingSize.Is5">
                                Felafel Burger
                            </Heading>
                        </Blazorise.Link>
                        <Ratings />
                    </div>
                </div>
            </Column>
            <Column ColumnSize="ColumnSize.Is6.OnMobile.Is4.OnTablet.Is12">
                <div class="single-best-receipe-area mb-30">
                    <Image Source="img/bg-img/r3.jpg" />
                    <div class="receipe-content">
                        <Blazorise.Link To="/">
                            <Heading Size="HeadingSize.Is5">
                                Blackcurrent Slushie
                            </Heading>
                        </Blazorise.Link>
                        <Ratings />
                    </div>
                </div>
            </Column>
            <Column ColumnSize="ColumnSize.Is6.OnMobile.Is4.OnTablet.Is12">
                <div class="single-best-receipe-area mb-30">
                    <Image Source="img/bg-img/r4.jpg" />
                    <div class="receipe-content">
                        <Blazorise.Link To="/">
                            <Heading Size="HeadingSize.Is5">
                                Kalabasa Soup
                            </Heading>
                        </Blazorise.Link>
                        <Ratings />
                    </div>
                </div>
            </Column>
            <Column ColumnSize="ColumnSize.Is6.OnMobile.Is4.OnTablet.Is12">
                <div class="single-best-receipe-area mb-30">
                    <Image Source="img/bg-img/r5.jpg" />
                    <div class="receipe-content">
                        <Blazorise.Link To="/">
                            <Heading Size="HeadingSize.Is5">
                                Low Fat Breakfast
                            </Heading>
                        </Blazorise.Link>
                        <Ratings />
                    </div>
                </div>
            </Column>
            <Column ColumnSize="ColumnSize.Is6.OnMobile.Is4.OnTablet.Is12">
                <div class="single-best-receipe-area mb-30">
                    <Image Source="img/bg-img/r6.jpg" />
                    <div class="receipe-content">
                        <Blazorise.Link To="/">
                            <Heading Size="HeadingSize.Is5">
                                Quick Fancy Dessert
                            </Heading>
                        </Blazorise.Link>
                        <Ratings />
                    </div>
                </div>
            </Column>
        </Row>
    </Container>
</section>