<section class="top-catagory-area section-padding-80-0">
    <Container>
        <Row>
            <!-- Top Catagory Area -->
            <Column ColumnSize="ColumnSize.Is6.OnDesktop.Is12">
                <div class="single-top-catagory">
                    <Image Source="img/bg-img/bg2.jpg" alt="" loading="lazy"/>
                    <!-- Content -->
                    <div class="top-cta-content">
                        <Heading Size="HeadingSize.Is3">Recipes</Heading>
                        <Heading Size="HeadingSize.Is6">Eat well, get stronger</Heading>
                        <Button To="/" Class="btn delicious-btn">Go to Recipes</Button>
                    </div>
                </div>
            </Column>
            <Column ColumnSize="ColumnSize.Is6.OnDesktop.Is12">
                <div class="single-top-catagory">
                    <Image Source="img/bg-img/pressup.png" alt="" loading="lazy" />
                    <!-- Content -->
                    <div class="top-cta-content">
                        <Heading Size="HeadingSize.Is3">Workouts</Heading>
                        <Heading Size="HeadingSize.Is6">From zero to something</Heading>
                        <Button To="/" Class="btn delicious-btn">Go to Workouts</Button>
                    </div>
                </div>
            </Column>
        </Row>
    </Container>
</section>