<section class="hero-area">
    <div class="hero-slides">
        <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg7.jpg);">
            <Container Class="h-100">
                <Row Class="h-100 align-items-center">
                    <Column ColumnSize="ColumnSize.Is6.OnMobile.Is7.OnTablet.Is9.OnDesktop.Is12">
                        <Animate Animation="Animations.FadeUp" Delay="@TimeSpan.FromSeconds(0.1)">
                            <div class="hero-slides-content">
                                <Animate Animation="Animations.FadeUp" Delay="@TimeSpan.FromSeconds(0.3)">
                                    <Heading Size="HeadingSize.Is2">Training food is dull?</Heading>
                                </Animate>
                                <Animate Animation="Animations.FadeUp" Delay="@TimeSpan.FromSeconds(0.9)">
                                    <Heading Size="HeadingSize.Is6" Style="color:white">The challenge - Train hard, eat clean <em>but...</em> if Jay Rayner and Grace Dent wouldn't eat it, neither should you.'</Heading>
                                </Animate>
                                <Animate Animation="Animations.FadeUp" Delay="@TimeSpan.FromSeconds(1.5)">
                                    <Paragraph>Anyone can eat poached chicken and brown rice but that's not living and it's not sustainable. You need good food that works for you, you need it clearly explained and easy to portion and prepare. How else are you going to get that shape and stay that shape?</Paragraph>
                                </Animate>
                            </div>
                        </Animate>
                    </Column>
                </Row>
            </Container>
        </div>
    </div>
</section>
