<div class="delicious-main-menu">
    <div class="classy-nav-container">
        <Container>
            <Bar Class="classy-navbar justify-content-between" Breakpoint="Breakpoint.Tablet">
                <BarBrand>
                    Fit For Grace &amp; Jay?
                </BarBrand>
                <BarToggler Class="classy-navbar-toggler" />
                <BarMenu Class="classy-menu">
                    <BarEnd Class="classynav">
                        <BarItem>
                            <BarLink To="/">Home</BarLink>
                        </BarItem>
                        <BarItem>
                            <BarDropdown>
                                <BarDropdownToggle>Pages</BarDropdownToggle>
                                <BarDropdownMenu>
                                    <BarDropdownItem>
                                        <BarLink To="/">Home</BarLink>
                                    </BarDropdownItem>
                                    <BarDropdownItem>
                                        <BarLink To="/">About</BarLink>
                                    </BarDropdownItem>
                                    <BarDropdownItem>
                                        <BarLink To="/">Blog Post</BarLink>
                                    </BarDropdownItem>
                                    <BarDropdownItem>
                                        <BarLink To="/">Recipe Post</BarLink>
                                    </BarDropdownItem>
                                    <BarDropdownItem>
                                        <BarLink To="/">Contact</BarLink>
                                    </BarDropdownItem>
                                </BarDropdownMenu>
                            </BarDropdown>
                        </BarItem>
                        <BarItem>
                            <BarLink To="/">Blog</BarLink>
                        </BarItem>
                        <BarItem>
                            <BarLink To="/">Recipes</BarLink>
                        </BarItem>
                        <BarItem>
                            <BarLink To="/">Workouts</BarLink>
                        </BarItem>
                        <BarItem>
                            <BarLink To="/">Contact</BarLink>
                        </BarItem>
                    </BarEnd>
                </BarMenu>
            </Bar>
        </Container>
    </div>
</div>



